extends ../layouts/default.jade
block main
  h2= title

block content
  h1 Root View. Home of the Homes. Land of the Free
  ul
    li Super Awesome! Now add some routes, models, views and controllers.
  h2 First project:
    a(href="base") base
