nav(style="background: #123;color:#fff;padding: 10px") This nav is commom to all sites
  span &nbsp;
  a(href="/",style="color:#fff")=pkg.name
  span &nbsp;
  a(href="/base",style="color:#fff") Base Project

