extends ../layouts/default.jade
block main
  h2= title

block content
  h1 Base Home. Here shall start it all.
  ol
    li Wow Super Awesome! Now add some routes, models, views and controllers.
    li Change the content of
      code app/views/home/index.html